@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 7mm 6mm 7mm 6mm;
  }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }
}
